@use 'config.scss';

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.hero {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  overflow: hidden;
  background-image: url('../../assets/img/map-background.png');

  &__container {
    margin: 0 auto;
    padding: 0 25px;
    max-width: 1250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    .button {
      display: inline-block;
      margin-top: 24px;
      text-decoration: none;
      text-transform: uppercase;
      color: #ffffffc7;
      background-color: config.$primary;
      padding: 16px;
      border-radius: 8px;

      i {
        transform: rotate(-90deg);
      }
    }

    h1 {
      font-size: 64px;
      font-weight: 500;
      width: 100%;
      color: config.$white;
      font-weight: 500;

      strong {
        font-weight: 500;
        color: config.$primary;
      }
    }

    p {
      font-size: 24px;
      width: 100%;
      margin-top: 16px;
      color: #ffffffc7;
      visibility: hidden;

      &:after {
        content: '|';
        animation: blink 0.875s infinite;
        font-weight: 400;
        color: config.$primary;
      }
    }
  }

  &__right {
    width: 0%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 1200px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-40%, -50%);
    }
  }

  @media (max-width: 992px) {
    &__container {
      justify-content: center;
      text-align: center;
    }

    &__left {
      width: 100%;
      align-items: center;

      h1 {
        font-size: 54px;
      }
      p {
        font-size: 22px;
        width: 80%;
      }
    }

    &__right {
      display: none;
    }
  }

  @media (max-width: 767px) {
    &__left {
      h1 {
        font-size: 42px;
      }
      p {
        font-size: 18px;
        width: 100%;
      }
    }
  }
}
