// variables
$primary: #2e7bd3;
$secondary: #051650;
$tertiary: #2870ddb7;
$white: #f5f5f5;
$gray: #f5f5f575;
$gray2: #00000080;
$nav: #e5f2ff7a;
$blue: #2e7bd350;

// Config
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif, system-ui;
}

html{
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  background-color: #fafafaff;

}

button{
  cursor: pointer;
}

img{
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.title{
  font-size: 40px;
  font-weight: 500;
  strong{
    color: $primary;
    font-weight: 500;
  }

  @media(max-width: 767px){
      font-size: 32px;
  }
}

.subtitle{
  color: $gray2;
  font-size: 24px;
  font-weight: 400;

  @media(max-width: 767px){
      font-size: 20px;
  }
}
